# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs
*.log
resize.log

# Data (комментируйте/удаляйте эту строку, если нужно загрузить данные)

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
